backend/node_modules
frontend/node_modules
node_modules
.DS_Store
frontend/dist
backend/dist
backend/mongo-data
mongo-data
frontend/.idea
frontend/public
backend/.idea
.env
frontend/.env
backend/.env
frontend/yarn-error.log
backend/yarn-error.log
.idea