@import '@alfalab/core-components/vars/colors-indigo.css';

.menu {
  background-color: var(--color-light-graphic-attention);
  height: 60px;
}

.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menuItem > * {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
